h1 {
  margin: 0px;
  font-size: 3rem;
}
p {
  margin: 0px;
}
a {
  text-decoration: none;
  color: black;
  margin-right: 7px;
  width: 300;
}
.kanit-thin-italic {
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.josefin-sans {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.headdingDiv {
  display: flex;
  flex-direction: column;
  background-image: url("./assets/image/IMG_2514.PNG");
  background-size: 95%;
  background-position: center;
  align-items: center;
  height: 200px;
}

.middleDiv {
  background-color: rgb(255, 209, 209);
}

.headdinLink {
  display: flex;
  background-color: rosybrown;
  width: 100%;
  margin-top: 60px;
  margin-bottom: 0px;
}
.headdingImageLink {
  display: flex;
}
.bodySection {
  background-image: url('./assets/image/IMG_2513.PNG');
  background-size: 100%;
  height: 915px;
  margin-top: 15px;
}

.fotterPage {
  width: 100%;
  height: 220px;
  background-image: url('./assets/image/IMG_2511.PNG');
  background-size: cover;
  background-color: rosybrown;
}

.fotterlink {
  display: flex;
}
.fotterlink a {
  font-size: 16px;
  margin-top: 15px;
  margin-left: 2px;
}

.fotterImageLink {
  display: flex;
}

.fotterBody {
  margin-left: 35%;
  margin-right: 50%;
  margin-top: 13%;
  margin-bottom: 0%;
}
.fotterBody h2{
  font-size: 40px;
}
